{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}

{% block content %}
<!-- Contact Form -->
<div class="post-card">
    <div id="stamp">
        🌸
    </div>


    <div id="post-card-contents">
        <h1>Get In Touch</h1>
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Your message here!" required></textarea>
    </div>
    <div class="contact-form-container">
        <form id="contactForm" method="post" name="sentMessage" action="{{url_for('contact')}}">

        <hr>
        <label for="name">Name:
        <input type="text" id="name" name="name" placeholder="First and Last name" required>
        </label>
        <hr>
        <label for="email">Email:
        <input type="email" id="email" name="email" placeholder="Your Email" required>
        </label>
        <hr>
        <label for="phone">Phone:
        <input type="text" id="phone" name="phone" placeholder="Optional">
        </label>
        <hr>
        <button type="submit" id="send">Send</button>
            <hr>
    </form>
</div>
            <div class="address-lines">
            <p>Dear Visitor,</p>
            <p>I'd love to hear from you!</p>
        </div>
    </div>
{% endblock %}